body {
  background-color: #fff;
  background-image: url(../img/abstract-8.jpg);
  background-repeat: repeat-y;
  background-size: 320%;
  font-family: -apple-system-font, "Droid Sans", helvetica, sans-serif;
  width: 80%;
  clear: both;
}
* {
  box-sizing: border-box;
}
form {
  position: relative;
  margin-top: 40%;
  margin-left: 4%;
}
form * {
  font-size: 1.5rem;
}
fieldset {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 1.5rem 2.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px #999;
  background-image: url(../img/main_legend_bg.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}
legend {
  color: #777;
  font-size: 1.2em;
}
legend span a img{
  padding: 1pt;
  height: 58px;
}
legend span{
  line-height: 50px;
  text-align: center;
}
.field {
  display: block;
  margin-bottom: 1em;
}
input[type="text"], input[type="password"] {
  padding: .3em .5em;
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: 0 0 10px #999;
  opacity: 0.7;
}
button {
  padding: .3em 1em;
  border: 1px solid crimson;
  background: crimson;
  color: #fff;
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: 0 0 10px #999;
}
.field-error {
  color: crimson;
  margin-top: .5em;
  font-size: .5em;
}
.field-error.is-hidden {
  display: none;
}
